{{! White social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="i-twitter" href="http://www.twitter.com/joinferris"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-facebook" href="http://www.facebook.com/joinferris"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-instagram" href="http://www.instagram.com/joinferris"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-feed" href="{{@blog.url}}/rss/"></a>
    </li>
</ul>