{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="i-twitter-b" href="http://www.twitter.com/joinferris"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-facebook-b" href="http://www.facebook.com/joinferris"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-instagram-b" href="http://www.instagram.com/joinferris"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-feed-b" href="{{@blog.url}}/rss/"></a>
    </li>
</ul>