<div class="event-card">
  <div class="ui card">
    <div class="image">
      <%= image_tag("ica.jpg") %>
    </div>
    <div class="content">
      <p class="header">First Friday at the ICA</p>
      <div class="meta">
        <span class="date"><i class="calendar icon"></i>Friday, December 4th</span>
      </div>
      <div class="meta">
        <span class="date"><i class="wait icon"></i>5:00pm - 10:00pm</span>
      </div>
      <div class="description">
        It's a party. With a DJ and alcohol. In a museum. A museum filled with really bizarre modern art. 20-30s type scene. It's a good time.
      </div>
    </div>
    <div class="extra content">
      <a href="http://maps.google.com/?q=100 Northern Avenue, Boston, MA 02210" target="_blank">
        <i class="location arrow icon"></i>
        Seaport
      </a>
    </div>
    <div class="extra content">
      <a href="tel:617-478-3100">
        <i class="call icon"></i>
        617-478-3100
      </a>
    </div>
    <div class="extra content">
      <a href="http://www.icaboston.org/" target="blank">
        <i class="linkify icon"></i>
        http://www.icaboston.org/
      </a>
    </div>
    <div class="extra content">
      <a href="http://www.icaboston.org/" target="blank">
        <i class="dollar icon"></i>
        $18 per person
      </a>
    </div>
    <button class="ui blue button">
      Buy Tickets
    </button>
  </div>
</div>