<div class="event-card">
  <div class="ui card">
    <div class="image">
      <%= image_tag("ica.jpg") %>
    </div>
    <div class="content">
      <p class="header">First Friday at the ICA</p>
      <div class="meta">
        <span class="date"><i class="calendar icon"></i>Friday, December 4th</span>
      </div>
      <div class="meta">
        <span class="date"><i class="wait icon"></i>5:00pm - 10:00pm</span>
      </div>
      <div class="description">
        Don’t let the cold keep you in all winter long! Bundle up for Cabin Fever as we embrace the lumbersexual in all of us and warm up with a spiked beverage. Beards and flannel encouraged (but no axes, please).
      </div>
    </div>
    <div class="extra content">
      <a href="http://maps.google.com/?q=100 Northern Avenue, Boston, MA 02210" target="_blank">
        <i class="location arrow icon"></i>
        100 Northern Avenue, Boston, MA 02210
      </a>
    </div>
    <div class="extra content">
      <a href="tel:617-478-3100">
        <i class="call icon"></i>
        617-478-3100
      </a>
    </div>
    <div class="extra content">
      <a href="http://www.icaboston.org/" target="blank">
        <i class="linkify icon"></i>
        http://www.icaboston.org/
      </a>
    </div>
    <button class="ui blue button">
      Buy Tickets
    </button>
  </div>
</div>