<% provide(:title, ' | Your Personal Guide to Boston') %>
<div class="ui grid stackable">
	<div class="two wide column">
		
	</div>
	<div class="six wide column example small computer only tablet only">
		<%= image_tag("example.png", :class => "ui centered image") %>
	</div>
	<div class="six wide column description">
		<%= image_tag("face.png", :class => "ui centered tiny image") %>
	  	<h1>
	  		Hello, I'm Ferris.
	  	</h1>
	  	<h3>
	  		Text "hello" to find something to do in Boston.
	  	</h3>
	  	<h2>
	  		<a href="sms:1-617-682-7760">(617) 682-7760</a>
	  	</h2>
	  	<p class="tagline">
	  		Subscribe to receive a weekly adventure, curated by local experts.
	  	</p>
	  	<form action="//joinferris.us12.list-manage.com/subscribe/post?u=21b6967c01aad0a88e2735908&amp;id=fd723c98b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	  		<div class="ui action input">
			  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
			  <button class="ui button">Subscribe</button>
			</div>
	  	</form>
	  	<div class="share">
	  		<a target="_blank" href="https://www.facebook.com/joinferris"><i class="big facebook icon"></i></a>
	  		<a target="_blank" href="https://twitter.com/joinferris"><i class="big twitter icon"></i></a>
	  		<a target="_blank" href="https://instagram.com/joinferris"><i class="big instagram icon"></i></a>
	  	</div>
	</div>
	<div class="six wide column example small mobile only">
		<%= image_tag("example.png", :class => "ui centered image") %>
	</div>
	<div class="two wide column">
	 
	</div>
</div>