<!DOCTYPE html>
<html>
  <head>
    <title>Ferris | Your personal guide to your city.</title>
    <link href='https://fonts.googleapis.com/css?family=Volkhov:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
		for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
		mixpanel.init("102cf58192ef1e319bf6cb10a6c281f8");
	</script>
	<!-- end Mixpanel -->
	<!-- Mixpanel Page View Event -->
	<script type="text/javascript">
		mixpanel.track('page viewed', {
	    'page name' : document.title,
	    'url' : window.location.pathname
	});
	</script>
  </head>
  <body>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="six wide column example small computer only tablet only">
			<img class="ui centered medium image" src="http://s20.postimg.org/nmwy54esd/example_in_phone.png">
		</div>
		<div class="six wide column description">
			<img class="ui centered tiny image" src="http://s20.postimg.org/3tkucf1el/face.png">
		  	<h1>
		  		Hello, I'm Ferris.
		  	</h1>
		  	<h3>
		  		Text me to find something to do in Boston.
		  	</h3>
		  	<h2>
		  		<a href="sms:1-857-600-1195">(857) 600-1195</a>
		  	</h2>
		  	<p>
		  		Personalized search powered by local humans, available 24/7.
		  	</p>
		  	<div class="share">
		  		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.joinferris.com/"><!--<i class="big facebook icon"></i>-->Share</a>
		  		<a target="_blank" href="https://twitter.com/home?status=Send%20a%20text%20message%20to%20857-600-1195%20to%20find%20something%20to%20do%20in%20Boston%3A%20http%3A//www.joinferris.com/"><!--<i class="big twitter icon"></i>-->Tweet</a>
		  	</div>
		</div>
		<div class="six wide column example mobile only">
			<img class="ui centered medium image" src="http://s20.postimg.org/nmwy54esd/example_in_phone.png">
		</div>
		<div class="two wide column">
		 
		</div>
	</div>
  </body>
</html>