<!DOCTYPE html>
<html>
  <head>
    <title>Ferris | Your personal guide to your city.</title>
    <link href='https://fonts.googleapis.com/css?family=Volkhov:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.jpg"/>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("102cf58192ef1e319bf6cb10a6c281f8");</script><!-- end Mixpanel -->
<script type="text/javascript">
	mixpanel.track('page viewed', {
    'page name' : document.title,
    'url' : window.location.pathname
});
</script>
  </head>
  <body>
  	<div class="section">
  		<h1>Ferris</h1>
  		<div class="number">
  			<h2>Text this phone number to find something to do in Boston.</h2>
	    	<h3>(857) 600-1195</h3>
	    	<p>Include details such as time, neighborhood, or type of activity to improve the recommendation.</p>
	    	<p class="disclaimer">Message and data rates may apply.</p>
  		</div>
  		<p>
  			<a target="_blank" href="https://twitter.com/home?status=Send%20a%20text%20message%20to%20find%20something%20to%20do%20in%20Boston%3A%20http%3A//www.joinferris.com/">Share on Twitter</a>
  			<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.joinferris.com/">Share on Facebook</a>
  		</p>
  	</div>
  	<div class="section">
  		<h2>
  			How It Works
  		</h2>
  		<p>
  			We have curated the best activities and events in and around Boston. Send us a text message and we'll help you plan your night, weekend, or just an hour of free time. It's the easiest way to discover more in Boston.
  		</p>
  	</div>
  	<div class="section examples">
  		<h2>
  			Examples
  		</h2>
  		<img src="/images/example1.jpeg">
  		<img src="/images/example2.jpeg">
  		<img src="/images/example3.jpeg">
  		<img src="/images/example4.jpeg">
  	</div>
  	<div class="section">
  		<div class="number">
  			<h2>Text this phone number to find something to do in Boston.</h2>
	    	<h3>(857) 600-1195</h3>
	    	<p>Include details such as time, neighborhood, or type of activity to improve the recommendation.</p>
	    	<p class="disclaimer">Message and data rates may apply.</p>
  		</div>
  	</div>
  	<div class="section">
  		<p>
  			<a href="mailto:robinson@greig.io">Contact</a>
  		</p>
  	</div>
  </body>
</html>