<!DOCTYPE html>
<html>
  <head>
    <title>Ferris | Your personal guide to your city.</title>
    <link href='https://fonts.googleapis.com/css?family=Volkhov:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="//load.sumome.com/" data-sumo-site-id="567cbc75a152b7be1cf84b5718d03e55fb34d391768d81d7e8c6a0538fec572f" async="async"></script>
  </head>
  <body>
  	<div class="section">
  		<h1>Ferris</h1>
  		<div class="number">
  			<h2>Text this phone number to find something to do in Boston.</h2>
	    	<h3>(857) 600-1195</h3>
	    	<p>Include details such as time, neighborhood, or type of activity to improve the recommendation.</p>
	    	<p class="disclaimer">Message and data rates may apply.</p>
  		</div>
  	</div>
  	<div class="section">
  		<h2>
  			How It Works
  		</h2>
  		<p>
  			We have curated the best activities and events in and around Boston. Send us a text message and we'll help you plan your night, weekend, or just an hour of free time. It's the easiest way to discover more in Boston.
  		</p>
  	</div>
  	<div class="section examples">
  		<h2>
  			Examples
  		</h2>
  		<img src="/assets/example1.jpeg">
  		<img src="/assets/example2.jpeg">
  		<img src="/assets/example3.jpeg">
  		<img src="/assets/example4.jpeg">
  	</div>
  	<div class="section">
  		<div class="number">
  			<h2>Text this phone number to find something to do in Boston.</h2>
	    	<h3>(857) 600-1195</h3>
	    	<p>Include details such as time, neighborhood, or type of activity to improve the recommendation.</p>
	    	<p class="disclaimer">Message and data rates may apply.</p>
  		</div>
  	</div>
  	<div class="section">
  		<p>
  			<a href="mailto:robinson@greig.io">Contact</a>
  		</p>
  	</div>
  </body>
</html>