<% provide(:title, ' | Your Personal Guide to Boston') %>
<div class="ui grid stackable">
	<div class="two wide column">
		
	</div>
	<div class="six wide column example small computer only tablet only">
		<%= image_tag("example-in-phone.png", :class => "ui centered medium image") %>
	</div>
	<div class="six wide column description">
		<%= image_tag("face.png", :class => "ui centered tiny image") %>
	  	<h1>
	  		Hello, I'm Ferris.
	  	</h1>
	  	<h3>
	  		Text me to find something to do in Boston.
	  	</h3>
	  	<h2>
	  		<a href="sms:1-857-600-1195">(857) 600-1195</a>
	  	</h2>
	  	<p class="tagline">
	  		Personalized search powered by local humans, available 7am-10pm.
	  	</p>
	  	<div class="share">
	  		<a target="_blank" href="https://www.facebook.com/joinferris"><i class="big facebook icon"></i></a>
	  		<a target="_blank" href="https://twitter.com/joinferris"><i class="big twitter icon"></i></a>
	  		<a target="_blank" href="https://instagram.com/joinferris"><i class="big instagram icon"></i></a>
	  	</div>
	  	<p>
	  		<a href="http://www.joinferris.com/events">Or, just browse.</a>
	  	</p>
	</div>
	<div class="six wide column example mobile only">
		<img class="ui centered medium image" src="http://s20.postimg.org/nmwy54esd/example_in_phone.png">
	</div>
	<div class="two wide column">
	 
	</div>
</div>