<div class="ui grid stackable">
	<div class="two wide column">
		
	</div>
	<div class="six wide column example small computer only tablet only">
		<img class="ui centered medium image" src="http://s20.postimg.org/nmwy54esd/example_in_phone.png">
	</div>
	<div class="six wide column description">
		<img class="ui centered tiny image" src="http://s20.postimg.org/3tkucf1el/face.png">
	  	<h1>
	  		Hello, I'm Ferris.
	  	</h1>
	  	<h3>
	  		Text me to find something to do in Boston.
	  	</h3>
	  	<h2>
	  		<a href="sms:1-857-600-1195">(857) 600-1195</a>
	  	</h2>
	  	<p>
	  		Personalized search powered by local humans, available 24/7.
	  	</p>
	  	<div class="share">
	  		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.joinferris.com/"><!--<i class="big facebook icon"></i>-->Share</a>
	  		<a target="_blank" href="https://twitter.com/home?status=Send%20a%20text%20message%20to%20857-600-1195%20to%20find%20something%20to%20do%20in%20Boston%3A%20http%3A//www.joinferris.com/"><!--<i class="big twitter icon"></i>-->Tweet</a>
	  	</div>
	</div>
	<div class="six wide column example mobile only">
		<img class="ui centered medium image" src="http://s20.postimg.org/nmwy54esd/example_in_phone.png">
	</div>
	<div class="two wide column">
	 
	</div>
</div>