<div class="ui three item menu" id="footer">
  <a class="item">
    <i class="large calendar icon"></i>
    Date
  </a>
  <a class="item">
    <i class="large map icon"></i>
    Location
  </a>
  <a class="item">
    <i class="large tag icon"></i>
    Category
  </a>
</div>