<div class="ui fixed text menu" style="padding: 5px 10px; background-color: white;">
  <div class="item">
    <%= image_tag("logo-face-only.png") %>
  </div>
  <div class="right menu">
    <div class="item">
      <a href="/">
        Text Ferris
      </a>
      <!--
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
      -->
    </div>
  </div>
</div>