<div class="ui secondary fluid one item menu">
  <a class="item" href="http://www.joinferris.com/">
    <%= image_tag("face.png", :class => "ui centered image mini") %>
  </a>
</div>

<p class="headline">
	<a href="sms:1-617-682-7760">Text Ferris</a> to find something to do in Boston.
</p>