<div class="ui secondary fluid three item menu">
  <div class="ui item 3 column grid">
    <div class="row">
      <select id="date_range" class="ui dropdown">
        <option value="">Select Date Range</option>
        <option value="1">Today</option>
        <option value="2">Tomorrow</option>
        <option value="3">This Week</option>
        <option value="4">This Weekend</option>
        <option value="5">Next Two Weeks</option>
      </select>
    </div>
    <div class="row">
      <select id="tag_select" class="ui search dropdown" multiple="">
        <option value="">Tags</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
      </select>
      <button id="tag_search" class="ui icon button right floated">
        <i class="search icon"></i>
      </button>
    </div>
  </div>
  <a class="ui item hidden" href="#" id="remove-icon">
    <i class="remove icon"></i>
  </a>
  <a class="item" href="./">
    <%= image_tag("face.png", :class => "ui centered image mini") %>
  </a>
  <a class="ui item" href="/events/new">
    <i class="plus icon"></i>
  </a>
</div>

<div class="ui secondary menu hidden" id="search-form">
  <div class="centered item">
    <div class="ui icon input">
      <%= form_tag(events_path, :method => "get") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
         <%= submit_tag "Search" %>
      <% end %>
      <i class="search link icon"></i>
    </div>
  </div>
</div>

<script>
  $('select.dropdown').dropdown();
</script>
