<div class="ui secondary  menu">
  <a class="item" href="./">
    Home
  </a>
  <a class="active item" href="/events">
    Events
  </a>
  <div class="right menu">
    <!--
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    -->
    <a class="ui item" href="/events/new">
      New Event
    </a>
  </div>
</div>