<% provide(:title, ' | Events') %>
<%= render 'shared/header' %>

<div class="ui stackable grid" style="margin-top: 20px">
  <% @event_instances.each do |instance| %>
      <%= render(:partial => 'shared/eventCard', :locals => {:instance => instance})%>
  <% end %>
</div>

<%= render 'shared/footer' %>