<% provide(:title, ' | Events') %>
<%= render 'header' %>

<div class="ui padded grid stackable">
  <% @event_instances.each do |instance| %>
    <% if instance.date.today? || instance.date.future? %>
      <%= render(:partial => 'shared/eventCard', :locals => {:instance => instance})%>
    <% end %>
  <% end %>
</div>

<script>
  var clipboard = new Clipboard('.copy-to-clipboard');
  clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    e.clearSelection();
  });

  clipboard.on('error', function(e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
  });
</script>