<% provide(:title, ' | Your Personal Guide to Boston') %>

<!--Header-->
<div class="header">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column">
			<div class="ui secondary menu">
				<a class="item" href="http://www.joinferris.com">
			    	<%= image_tag("face.png", :class => "ui centered image mini") %>
			  	</a>
				<div class="right menu">
					<a class="item" id="to-how-it-works">
						How It Works
					</a>
					<a class="item" href="https://ferris3.typeform.com/to/jrTv4X">
						Join Waitlist
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Hero -->
<div class="hero">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column computer only" style="text-align: center;">
		  	<h1>
		  		Ferris is an adventurous friend to help you plan new adventures.
		  	</h1>
		  	<h2>
		  		Text "Hello" to get started.
		  	</h2>
		  	<div>
		  		<button class="ui basic large inverted button" style="width: 45%" onclick="location.href='sms:16177588031&body=Hello';">(617) 758-8031</button>
		  	</div>
		</div>
		<div class="ten wide column mobile only tablet only" style="text-align: center;">
		  	<h1>
		  		Ferris is an adventurous friend to help you plan new adventures.
		  	</h1>
		  	<h2>
		  		Text "Hello" to get started.
		  	</h2>
		  	<div>
		  		<button class="ui basic large inverted button" style="width: 100%; margin-bottom: 0.5em" onclick="location.href='sms:16177588031&body=Hello';">(617) 758-8031</button>
		  	</div>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- How It Works -->
<div class="section" id="how-it-works">
	<h2 class="section-header">
		Buy experiences, not stuff.
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column">
	  		<div class="step">
			    <h3 class="value">
			    	1
			    </h3>
			    <h2 class="label">
			    	Build your adventure list.
			    </h2>
			    <p class="description">
			    	Let Ferris know what experiences you would love to live and it will hunt down the best prices for you.
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="step">
			    <h3 class="value">
			    	2
			    </h3>
			    <h2 class="label">
			    	Effortless savings for new trips.
			    </h2>
			    <p class="description">
			    	Connect your checking account to allow Ferris to find small amounts of money it can safely set aside for you. 
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="step">
			    <h3 class="value">
			    	3
			    </h3>
			    <h2 class="label">
			    	Book a new adventure.
			    </h2>
			    <p class="description">
			    	Ferris will let you know when you can afford something on your list, and our adventure guides will help you plan it.
			    </p>
		  	</div>
		</div>
		<div class="two wide column">
				
		</div>
		<div class="five wide column">
			
		</div>
		<div class="six wide column secure">
	  		<div class="step">
			    <h2 class="label">
			    	Safe and Secure
			    </h2>
			    <p class="description">
			    	We use 128-bit bank-level security, and we don't store your bank login. 
			    </p>
		  	</div>
		</div>
		<div class="five wide column">
			
		</div>
	</div>
</div>

<!-- Pricing -->
<div id="join">
	<div class="ui grid stackable join-buttons">
		<div class="six wide column">
			
		</div>
		<div class="four wide column">
			<button class="ui basic massive button" onclick="location.href='https://ferris3.typeform.com/to/jrTv4X';">
				Join Waitlist
			</button>
			<!--
			<p>
				No hidden fees. Bank-level security.
			</p>
			-->
		</div>
		<div class="six wide column">
			
		</div>
	</div>
</div>

<!-- Footer -->
<div class="ui grid stackable newsletter-block" style="padding-bottom: 30px">
	<div class="five wide column">
		
	</div>
	<div class="six wide column description">
		<p>Have a question? Email Us: <a href="mailto:hello@joinferris.com">hello@joinferris.com</a></p>
		<p class="tagline">
	  		Subscribe to receive a weekly adventure email.
	  	</p>
	  	<form action="//joinferris.us12.list-manage.com/subscribe/post?u=21b6967c01aad0a88e2735908&amp;id=fd723c98b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	  		<div class="ui action input">
			  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
			  <button class="ui button">Subscribe</button>
			</div>
	  	</form>
	  	<p>
			Copyright © 2016, Ferris, Inc.
		</p>
	</div>
	<div class="five wide column">
	 
	</div>
</div>

<script>
	$("#to-how-it-works").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#how-it-works").offset().top
	    }, 500);
	});
	$("#to-join").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#join").offset().top
	    }, 500);
	});
</script>