<div class="ui secondary fluid one item menu">
  <a class="item" href="http://www.joinferris.com/">
    <%= image_tag("face.png", :class => "ui centered image mini") %>
  </a>
</div>

<div class="ui grid stackable" id="rec">
	<div class="six wide column computer only tablet only">
		
	</div>
	<div class="four wide column">
		<div class="thankyou">
			<h3>
              It looks like everyone has been given a recommendation.
			</h3>
          <h3>
            Thanks!
          </h3>
		</div>
		<!--<p class="hidden" style="margin-top: 2em; text-align: center;" id="error-message">-->

		<!--</p>-->
    </div>
	<div class="six wide column computer only tablet only">
		
	</div>
</div>

<!--<script>-->
<!--//	$("#another-button").click(function(){-->
<!--//	    $("#error-message").removeClass("hidden");-->
<!--//	    $("#another-button").addClass("hidden");-->
<!--//	    $(".thankyou").addClass("hidden");-->
<!--//        mixpanel.track("Another Recommendation Clicked");-->
<!--//	});-->
<!--</script>-->