<% provide(:title, ' | Your Personal Guide to Boston') %>
<div class="event-card bundle">
  <div class="ui card">
    <div class="content">
      <%= image_tag("robinson.jpg", :class => "ui small circular image guide-avatar") %>
      <p class="header">
        Robinson Greig<br>
        <span class="guide-subtitle">Your Adventure Guide</span>
      </p>

      <!-- Welcome Message -->
      <div class="description" style="text-align: center">
        Hey Olivia - I hope you survived the arctic temperatures this weekend! My name is Robinson, and I'll be hunting down the most exciting events and activities for you each week. Listed below are 5 options to start. If you would like to get tickets, make a nearby dinner reservation, or ask me any other sort of question, please don't hesitate to <a href="sms:16176827760&body=Hey Robinson">text me.</a>
      </div>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Mosquito Story Slam</span>  
      <br>
      Inspired by the popular Moth StorySlam, storytellers have 5 minutes to tell a true story about themselves. The theme is "Escape".
      <br>
      <span class="event-meta">Free, Tue. at 7pm, South Boston.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to Mosquito Story Slam?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/338';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Improv Asylum Vanity Project</span>  
      <br>
      Improv Asylum original cast members and special guests perform two extended sets of anything-goes, hilarious longform improvisation.
      <br>
      <span class="event-meta">$15, Wed. at 8pm, North End</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to Club Bohemia?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/37';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Pimps of Joytime</span>  
      <br>
      The Pimps of Joytime put on a show that is known to morph from a deep bluesy groove into a full on EDM dance beat.
      <br>
      <span class="event-meta">$15, Fri. at 8pm, Harvard Sq.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to Goldroom?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/271';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Tracy Morgan at the Wilbur</span>  
      <br>
      Multi-talented comedian Tracy Morgan, well-known for his time on SNL and 30 Rock, is putting on a show at the Wilbur this weekend. 
      <br>
      <span class="event-meta">$50, Sat. at 7pm, Theater District.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to Tracy Morgan?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/260';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Glassblowing Demonstration</span>  
      <br>
      The Diablo Glass School not only offers a ton of great classses, but they also frequently offer demonstrations and wine tastings. Stop by and make yourself a pendant. 
      <br>
      <span class="event-meta">$15, Sun. at 1pm, Roxbury.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to the Glassblowing Demonstration?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/275';">
        <i class="icon info"></i>
      </button>
    </div>


    <!--Adventure Image-->
    <div class="ui fluid image adventure-image">
      <%= image_tag ("bungee.jpg") %>
    </div>
  </div>
</div>