<% provide(:title, ' | Your Personal Guide to Boston') %>
<div class="event-card bundle">
  <div class="ui card">
    <div class="content">
      <%= image_tag("robinson.jpg", :class => "ui small circular image guide-avatar") %>
      <p class="header">
        Robinson Greig<br>
        <span class="guide-subtitle">Your Adventure Guide</span>
      </p>

      <!-- Welcome Message -->
      <div class="description" style="text-align: center">
        Hey David. I hope you survived the arctic temperatures this weekend! My name is Robinson, and I'll be hunting down the most exciting events and activities for you each week. Listed below are 5 options to start. If you would like to get tickets, make a nearby dinner reservation, or ask me any other sort of question, please don't hesitate to <a href="sms:16176827760&body=Hey Robinson">text me.</a>
      </div>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Open Mic at the Lizard Lounge</span>  
      <br>
      The Lizard Lounge open mic always draws some talented local musicians, who each have ten minutes to play two original songs.
      <br>
      <span class="event-meta">$6, Mon. at 7:30pm, Porter Sq.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to Lizard Lounge Open Mic?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/106';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Mosquito Story Slam</span>  
      <br>
      Inspired by the popular Moth StorySlam, storytellers have 5 minutes to tell a true story about themselves. The theme is "Escape".
      <br>
      <span class="event-meta">Free, Tue. at 7pm, South Boston.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to Mosquito Story Slam?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/338';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">7th Annual Boston Chili Cup</span>  
      <br>
      After the sub-zero temperatures this weekend, a warm cup of chili is more than welcome. Come out and judge the chili from several local venues.
      <br>
      <span class="event-meta">$21, Thu. at 5:30pm, North End.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to the Boston Chili Cup?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/285';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">OFF-MIC! Comedy & Music</span>  
      <br>
      Gallery 263 is an small art gallery that hosts a handful of intimate events each week. OFF-MIC! is a new series featuring stand up comedy, music, and spoken word. 
      <br>
      <span class="event-meta">$10, Thu. at 8pm, Central Sq.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to the OFF-MIC!?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/275';">
        <i class="icon info"></i>
      </button>
    </div>

    <!-- New Event -->
    <div class="extra content">
      <span class="event-title">Tracy Morgan at the Wilbur</span>  
      <br>
      Multi-talented comedian Tracy Morgan, well-known for his time on SNL and 30 Rock, is putting on a show at the Wilbur this weekend. 
      <br>
      <span class="event-meta">$50, Sat. at 7pm, Theater District.</span>
      <!--Ticket Button-->
      <button class="circular ui icon button right floated green" onclick="location.href='sms:16176827760&body=Hey Robinson, could you get me a ticket to the Tracy Morgan?';">
        <i class="icon ticket"></i>
      </button>

      <!--Info Button-->
      <button class="circular ui icon button right floated" onclick="location.href='http://www.joinferris.com/events/260';">
        <i class="icon info"></i>
      </button>
    </div>


    <!--Adventure Image-->
    <div class="ui fluid image adventure-image">
      <%= image_tag ("skydiving.jpg") %>
    </div>
  </div>
</div>