<% provide(:title, ' | Your Personal Guide to Boston') %>

<!-- Hero -->
<div>
	<div class="ui grid stackable">
		<div class="four wide column">
			
		</div>
		<div class="eight wide column description" style="font-family: Vollkorn">
		  	<h1 style="font-size: 10em;">
		  		GET OFF <br>THE COUCH
		  	</h1>
		  	<h2 style="font-family: Vollkhorn, serif; font-style: italic;">and</h2>
		  	<h1>
		  		GO EXPLORE THE WORLD
		  	</h1>
		</div>
		<div class="four wide column">
			
		</div>
	</div>
</div>

<div style="text-align: center; margin-top: 80px;">
	<a class="chevron" id="to-section-2"><i class="chevron down huge icon"></i></a>
</div>

<!-- How It Works -->
<div class="section" id="how-it-works">
	<h2 class="section-header">
		We'd like to help. Here's how:
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column">
	  		<div class="how-it-works-step">
			    <h3 class="step-value">
			    	1
			    </h3>
			    <h2 class="step-label">
			    	Set cash aside weekly.
			    </h2>
			    <p class="step-description">
			    	Setup a weekly deposit into your 'experience' account to be used to pay for new adventures.
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="how-it-works-step">
			    <h3 class="step-value">
			    	2
			    </h3>
			    <h2 class="step-label">
			    	We text you options.
			    </h2>
			    <p class="step-description">
			    	We find interesting things happening in Boston and text you a skinny list, tailored to your interests, each week. 
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="how-it-works-step">
			    <h3 class="step-value">
			    	3
			    </h3>
			    <h2 class="step-label">
			    	Text us for tickets.
			    </h2>
			    <p class="step-description">
			    	Text us if you would like to buy tickets, make dinner reservations, or ask any other question.
			    </p>
		  	</div>
		</div>
		<div class="two wide column">
			
		</div>
		<div class="six wide column">
	
		</div>
		<div class="four wide column" style="margin-top: 20px;">
			<div class="how-it-works-step">
				<h2 class="step-label">
					Flying solo?  
				</h2>
				<p class="step-description">
					Let us know, and we'll connect you with other people going to the same event.
				</p>
			</div>
		</div>
		<div class="six wide column">
			
		</div>
	</div>
</div>

<div style="text-align: center; margin-top: 40px;">
	<a class="chevron" id="to-section-3"><i class="chevron down huge icon"></i></a>
</div>

<!-- Pricing -->
<div class="section" id="join">
	<h2 class="section-header">
		Join our Community
	</h2>
	<h4>
		100% of your weekly deposit will be used to pay for the adventures we help you plan.
	</h4>
	<div class="ui grid stackable join-buttons">
		<div class="two wide column">
			
		</div>
		<!--
		<div class="six wide column">
			<button class="ui inverted button" onclick="location.href='https://ferris3.typeform.com/to/dAZa38';">Join for Free.</button>
		</div>
		-->
		<div class="four wide column">
			<button class="ui inverted button" onclick="location.href='https://app.moonclerk.com/pay/78t6rq2h8q4';">$8 Weekly Deposit</button>
		</div>
		<div class="four wide column">
			<button class="ui inverted button" onclick="location.href='https://app.moonclerk.com/pay/78t6rq2h8q4';">$18 Weekly Deposit</button>
		</div>
		<div class="four wide column">
			<button class="ui inverted button" onclick="location.href='https://app.moonclerk.com/pay/78t6rq2h8q4';">$28 Weekly Deposit</button>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
	<div style="margin-top: 50px;">
		<p>Have a question? <a href="sms:16176827760&body=HEELLLPPPP! I have a question!">Shoot us a text.</a></p>
	</div>
	<!--
	<p style="font-size: 1.75em; max-width: 500px;">
		There's nothing different between the two options. Either you choose to support us, or you don't :).
	</p>
	-->
</div>

<script>
	$("#to-section-2").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#how-it-works").offset().top
	    }, 500);
	});
	$("#to-section-3").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#join").offset().top
	    }, 500);
	});
</script>