<% provide(:title, ' | Your Personal Guide to Boston') %>

<!--Header-->
<div class="header sticky">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column">
			<div class="ui secondary menu">
				<a class="item" href="http://www.joinferris.com">
			    	<%= image_tag("face.png", :class => "ui centered image mini") %>
			  	</a>
				<div class="right menu">
					<a class="item" id="to-how-it-works">
						How It Works
					</a>
					<a class="item" id="to-reviews">
						Reviews
					</a>
					<!--
					<a class="item" href="https://app.moonclerk.com/pay/65hwp1i9641">
						Start Trial
					</a>
					-->	
				</div>
			</div>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- Hero -->
<div class="hero">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column computer only" style="text-align: center;">
		  	<h1>
		  		An adventurous friend to help you explore Boston.
		  	</h1>
		  	<h2>
		  		Text "Hello" to get started.
		  	</h2>
		  	<div>
		  		<button class="ui basic large inverted button" style="width: 45%" onclick="location.href='sms:16176827760&body=Hello';">(617) 682-7760</button>
	  			<button class="ui basic large inverted button" style="width: 45%" onclick="location.href='https://fb.com/msg/joinferris';">Facebook Messenger</button>
		  	</div>
		</div>
		<div class="ten wide column mobile only tablet only" style="text-align: center;">
		  	<h1>
		  		An adventurous friend to help you explore Boston.
		  	</h1>
		  	<h2>
		  		Text "Hello" to get started.
		  	</h2>
		  	<div>
		  		<button class="ui basic large inverted button" style="width: 100%; margin-bottom: 0.5em" onclick="location.href='sms:16176827760&body=Hello';">(617) 682-7760</button>
	  			<button class="ui basic large inverted button" style="width: 100%" onclick="location.href='https://fb.com/msg/joinferris';">Facebook Messenger</button>
		  	</div>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- How It Works -->
<div class="section" id="how-it-works">
	<h2 class="section-header">
		Break from routine and discover more of Boston.
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column">
	  		<div class="step">
			    <h3 class="value">
			    	<i class="user icon"></i>
			    </h3>
			    <h2 class="label">
			    	We're real people, seriously.
			    </h2>
			    <p class="description">
			    	When you text this service, you'll be chatting with real people who have explored Boston for years.
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="step">
			    <h3 class="value">
			    	<i class="sun icon"></i>
			    </h3>
			    <h2 class="label">
			    	Date nights or day trips.
			    </h2>
			    <p class="description">
			    	No matter what you’re planning, we’ll help you find something new and exciting.
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="step">
			    <h3 class="value">
			    	<i class="child icon"></i>
			    </h3>
			    <h2 class="label">
			    	Want to meet new people?
			    </h2>
			    <p class="description">
			    	Let us know, and we'll connect you with other people who are exploring Boston.
			    </p>
		  	</div>
		</div>
		<div class="two wide column">
				
		</div>
	</div>
</div>

<div id="join">
	<div class="ui grid stackable newsletter-block">
		<div class="five wide column">
			
		</div>
		<div class="six wide column">
			<p class="tagline">
		  		Subscribe to receive a weekly adventure email.
		  	</p>
		  	<form action="//joinferris.us12.list-manage.com/subscribe/post?u=21b6967c01aad0a88e2735908&amp;id=fd723c98b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		  		<div class="ui inverted action input huge" style="width: 100%">
				  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
				  <button class="ui button inverted">Subscribe</button>
				</div>
		  	</form>
		</div>
		<div class="five wide column">
			
		</div>
	</div>
</div>

<!-- Reviews -->
<div class="section" id="reviews">
	<h2 class="section-header">
		Flattering reviews from our community:
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column">
		    <p class="review">
		    	"Awesome service, I lived in Boston for two years but Ferris suggested multiple activities I hadn't heard of within minutes of my asking - and tailored to my interests! Highly recommend, thanks Ferris!"
		    </p>
	   	    <div class="review-name">
		      - Guillaume
		    </div>
		</div>
		<div class="four wide column">
		    <p class="review">
		    	"BRAVO! What's special about this is the human element. I've already recommended it to 3 people and now I don't have to stress for the rest of the day about what I'm going to do tonight."
		    </p>
	   	    <div class="review-name">
		      - Katherine
		    </div>
		</div>
		<div class="four wide column">
		    <p class="review">
		    	"It's great to talk to a real person instead of searching on the internet. We just moved here so being able to ask questions is really helpful!"
		    </p>
	   	    <div class="review-name">
		      - Tom
		    </div>
		</div>
		<div class="two wide column">
				
		</div>
	</div>
</div>

<!-- Footer -->
<div class="ui grid stackable newsletter-block" style="padding-bottom: 30px">
	<div class="five wide column">
		
	</div>
	<div class="six wide column description">
		<p>Have a question? Email Us: <a href="mailto:hello@joinferris.com">hello@joinferris.com</a></p>
	  	<p>
			Copyright © 2016, Ferris, Inc.
		</p>
	</div>
	<div class="five wide column">
	 
	</div>
</div>

<script>
	$("#to-how-it-works").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#how-it-works").offset().top
	    }, 500);
	});
	$("#to-reviews").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#reviews").offset().top
	    }, 500);
	});
</script>