<% provide(:title, ' | Your Personal Guide to Boston') %>
<div class="homepage-header">
	<%= image_tag("ferris-logo.png", :class => "ui centered image medium") %>
</div>
<div class="homepage-description">
	<h3 class="type">
		Ferris knows what's happening in Boston <br>
		and keeps you in the loop.
	</h3>
	<a href="sms:16176827760&body=Hello">
		<h3 class="type">
			617.682.7760
		</h3>
	</a>
	<div class="social-share">
		<!--
		<h4 class="type">
			About
		</h4>
		-->
		<button class="ui basic circular facebook icon button" onclick="location.href='https://www.facebook.com/sharer/sharer.php?u=www.joinferris.com';">
		  <i class="facebook icon"></i>
		</button>
		<button class="ui basic circular twitter icon button" onclick="location.href='https://twitter.com/home?status=Ferris%20knows%20what is%20happening%20in%20Boston%20and%20keeps%20you%20in%20the%20loop.%20www.joinferris.com';">
		  <i class="twitter icon"></i>
		</button>
	</div>
</div>