<!--Header-->
<div class="header sticky">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column">
			<div class="ui secondary menu">
				<a class="item" href="http://www.joinferris.com">
			    	<%= image_tag("face.png", :class => "ui centered image mini") %>
			  	</a>
				<div class="right menu">
					<a class="item" id="to-how-it-works">
						How It Works
					</a>
					<a class="item" id="to-reviews">
						FAQ
					</a>
					<!--
					<a class="item" href="https://app.moonclerk.com/pay/65hwp1i9641">
						Start Trial
					</a>
					-->	
				</div>
			</div>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- Hero -->
<div class="join-hero">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column">
		  	<h1>
		  		A season pass to cultural nightlife in Boston.
		  	</h1>
		  	<h2>
		  		Get guest list access to hundreds of concerts, comedy shows, theater, and more.
		  	</h2>
		  	<div>
		  		<button class="ui purple large button" style="width: 45%" onclick="location.href='https://ferris3.typeform.com/to/dgkTEq'">Join Beta</button>

		  	</div>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- Hero -->
<div class="ribbon">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column">
		  	<h2>
		  		$35 per month - No Ticketing Fees - No Commitment
		  	</h2>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- How It Works -->
<div class="section" id="how-it-works">
	<h2 class="section-header">
		Break from routine and discover more of Boston.
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
					
		</div>
		<div class="four wide column">
			<div class="event-card">
			  <div class="ui card">
			    <div class="ui fluid image">
			      <%= image_tag("parachute.jpg") %>
			    </div>
			    <div class="content">
			      <p class="header" style="font-size: 1.28571429em; text-align: left">Parachute</p>
			      <div class="meta">
			      	<span class="date"></i>Royale in the Theater District</span>
			      </div>
			      <div class="meta">
			      	<div class="ui label">Tonight 7PM</div>
			      	<div class="ui label">Live Music</div>
			      	<div class="ui label">21+</div>
			      </div>
			    </div>
			  </div>
			</div>		
		</div>
		<div class="four wide column">
			<div class="event-card">
			  <div class="ui card">
			    <div class="ui fluid image">
			      <%= image_tag("improv.jpg") %>
			    </div>
			    <div class="content">
			      <p class="header" style="font-size: 1.28571429em; text-align: left">Improv Potluck XIX</p>
			      <div class="meta">
			      	<span class="date"></i>Magnolia Loft in JP</span>
			      </div>
			      <div class="meta">
			      	<div class="ui label">Tonight 8PM</div>
			      	<div class="ui label">Live Music</div>
			      	<div class="ui label">18+</div>
			      </div>
			    </div>
			  </div>
			</div>		
		</div>
		<div class="four wide column">
			<div class="event-card">
			  <div class="ui card">
			    <div class="ui fluid image">
			      <%= image_tag("poetry.jpg") %>
			    </div>
			    <div class="content">
			      <p class="header" style="font-size: 1.28571429em; text-align: left">Poetry Slam</p>
			      <div class="meta">
			      	<span class="date"></i>Cantab Lounge in Central Sq.</span>
			      </div>
			      <div class="meta">
			      	<div class="ui label">Tomorrow 8PM</div>
			      	<div class="ui label">Spoken Word</div>
			      	<div class="ui label">18+</div>
			      </div>
			    </div>
			  </div>
			</div>		
		</div>
		<div class="two wide column">
					
		</div>
	</div>
	<div class="ui grid stackable">
		<div class="three wide column">
			
		</div>
		<div class="four wide column">
	  		<div class="step">
			    <h3 class="value">
			    	1
			    </h3>
			    <h2 class="label">
			    	Browse Options
			    </h2>
			    <p class="description">
			    	Each day, browse a list of shows happening in the next three days.
			    </p>
		  	</div>
	  		<div class="step">
			    <h3 class="value">
			    	2
			    </h3>
			    <h2 class="label">
			    	Save a Seat
			    </h2>
			    <p class="description">
			    	If you see a show you like, just shoot us a text to save a seat.
			    </p>
		  	</div>
	  		<div class="step">
			    <h3 class="value">
			    	3
			    </h3>
			    <h2 class="label">
			    	Go
			    </h2>
			    <p class="description">
			    	When you get to the show, text us to check in, and you'll receive a ticket.
			    </p>
		  	</div>
		</div>
		<div class="one wide column">
			
		</div>
		<div class="five wide column">
			<div class="messages">
				<p class="ferris">Hey Paul, there were 12 new shows added today. Check them out here: <a>www.joinferris.com/shows</a></p>
				<p class="user">Could you grab me a ticket to Matt and Kim at the Sinclair? (#121)</p>
				<p class="ferris">Sure thing! We've reserved one seat for you. Check in with me when you get to the show.</p>
				<p class="user">Hey Ferris - I'm at the Sinclair.</p>
				<p class="ferris">Sweet. Your name is on the guest list, and here's a ticket just in case: <a>www.joinferris.com/tickets/a7jpQ</a></p>
			</div>
		</div>
		<div class="three wide column">
				
		</div>
	</div>
</div>

<!-- Hero -->
<div class="ribbon">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="twelve wide column">
		  	<button class="ui inverted large button" style="margin: 1em 0 2em 0; width: 45%" onclick="location.href='https://ferris3.typeform.com/to/dgkTEq';">Join Beta</button>

		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- FAQ -->
<div class="section" id="faq">
	<h2 class="section-header">
		FAQ
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column">
			<div class="step">
				<h2 class="label">
			    	What if I want to bring a friend when I go to a show?
			    </h2>
			    <p class="description">
			    	You can add an additional spot to your membership for an extra $20 per month. You may upgrade your membership at any time.
			    </p>
			</div>
		</div>
		<div class="four wide column">
			<div class="step">
				<h2 class="label">
			    	How many events can I go to each month?
			    </h2>
			    <p class="description">
			    	You may go to as many shows as you like per month, but you may only keep your name on the guest list for one show at a time.
			    </p>
			</div>
		</div>
		<div class="four wide column">
			<div class="step">
				<h2 class="label">
			    	Can I browse available shows without subscribing?
			    </h2>
			    <p class="description">
			    	Absolutely. We offer a 7 day preview within which you can view our private list of shows.
			    </p>
			</div>
		</div>
		<div class="two wide column">
				
		</div>
	</div>
</div>

<!-- Footer -->
<div class="ui grid stackable newsletter-block" style="padding-bottom: 30px">
	<div class="five wide column">
		
	</div>
	<div class="six wide column description">
	  	<p>
			Copyright © 2016, Ferris, Inc.
		</p>
	</div>
	<div class="five wide column">
	 
	</div>
</div>

<script>
	$("#to-how-it-works").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#how-it-works").offset().top
	    }, 500);
	});
	$("#to-reviews").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#faq").offset().top
	    }, 500);
	});
</script>