<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_live_AeIs2rYoMCMK7gJO4YzfLpP4"
    data-image="http://ferris-production.s3.amazonaws.com/face.png"
    data-name="Ferris"
    data-description="Date Night"
    data-amount="100"
    data-locale="auto">
  </script>
</form>