<div class="ui padded grid">
  <div class="two wide column">
    
  </div>
  <div class="ten wide column">
    
  </div>
  <div class="four wide column">
    
  </div>
</div>

<div class="ui middle aligned divided list">
  <div class="item">
    <div class="right floated content">
      <div class="ui button">Add</div>
    </div>
    <%= image_tag("face.png", :class => "ui centered image small") %>
    <div class="content">
      Lena
    </div>
  </div>
    <div class="item">
    <div class="right floated content">
      <div class="ui button">Add</div>
    </div>
    <%= image_tag("face.png", :class => "ui centered image small") %>
    <div class="content">
      Lena
    </div>
  </div>
    <div class="item">
    <div class="right floated content">
      <div class="ui button">Add</div>
    </div>
    <%= image_tag("face.png", :class => "ui centered image small") %>
    <div class="content">
      Lena
    </div>
  </div>
    <div class="item">
    <div class="right floated content">
      <div class="ui button">Add</div>
    </div>
    <%= image_tag("face.png", :class => "ui centered image small") %>
    <div class="content">
      Lena
    </div>
  </div>
</div>