<nav class="pagination" id="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">Newer Stories</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">More Stories</a>
    {{/if}}
</nav>