{{! You can use the theme-options.js file to customize your links }}
{{! Please refer to Alpha's documentation for more information. }}

<section class="social">

    <a class="facebook" href="https://www.facebook.com/joinferris">
        <i class="fa fa-facebook"></i>
    </a>

    <a class="twitter" href="https://twitter.com/joinferris">
        <i class="fa fa-twitter"></i>
    </a>

    <a class="instagram" href="https://www.instagram.com/joinferris/">
        <i class="fa fa-instagram"></i>
    </a>

</section>