    <!-- Header  -->
    <div class="header_block container">
        <div class="header">
            <!-- Button of navigation menu --> 
                <a class="blog-logo" href="http://joinferris.com"><img src="http://ferris-production.s3.amazonaws.com/face-white.png" alt="Ferris"></a>
            <!-- Logo -->
            <div class="header_logo">
                <a class="header_logo_name" href="{{@blog.url}}">{{@blog.title}}</a>
                <p class="header_logo_shortInfo"><a style="color:#fff; text-decoration: underline;" href="sms:6176827760">Text Ferris</a> to find something to do in Boston.</p>
            </div>
            <!-- Social links -->
            <div class="header_socialIcons">
                {{> social-icons-white}}
            </div>
        </div>
    </div>

    {{navigation}}