@import "semantic-ui";

/*
*
* homepage
*
*/

body{
	height: 100vh;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	line-height: 1.15em;
	color: #000;
	margin-top: 15px;
}

h1, h2{
	font-weight: 800;
}

p, h3{
	font-weight: 200;
}

h1{
	font-size: 5em;
}

h2{
	font-size: 3.6em;
}

h3{
	font-size: 2.4em;
	margin-top: 0;
}

p{
	font-size: 1.2em;
	margin-top: 5em;
}

.tagline{
	margin-top: 7em;
	color: #a8a8a8;
}

.description{
	text-align: center;
	margin-top: 15vh;
}

.example img{
	width: 100%;
	margin-top: 5vh;
}

.ui.action.input:not([class*="left action"]) > input{
	font-size: 1.4em;
}

.share{
	margin-top: 4em;
}

.guide{
	font-size: 1.2em;
	font-weight: 200;
	text-align: left;
	.rounded-circle{
		border-radius: 50% !important;
	}
	.header{
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.subtitle{
		font-size: 1.2em;
		line-height: 2em;
		font-weight: 400;
	}
	.guide-quote, .subtitle{
		color: #a8a8a8;
	}
	.guide-quote{
		font-family: "Georgia", serif;
		font-style: italic;
	}
}

h4{
	margin-top: 3em;
	font-size: 2.2em;
	font-weight: 400;
	text-align: center;
}

.ui.items > .item:last-child{
	width: 90%;
	margin: 3em auto;
}

/*
*
* join landing page
*
*/

.section{
	padding-top: 20vh;
}

.section-header{
	text-align: center;
	margin-bottom: 1em;
}

.how-it-works-step{
	text-align: center;
}

.step-value{
	font-size: 1.5em;
	margin-top: 1em;
	border: 2px solid black;
	border-radius: 50%;
	width: 40px;
	padding: .5em 0;
	margin: auto;
}

.step-label{
	font-size: 2em;
	margin-top: 1em;
}

.step-description{
	font-size: 1.75em;
	font-family: "Vollkorn", serif;
	color: #5f666e;
	margin-top: 1em;
	letter-spacing: .2px;
	line-height: 1.5em;
}

.testimonial-picture{
	width: 40%;
	border-radius: 50%;
	display: inherit;
	margin: 30px auto;
}

.testimonial{
	font-size: 1.5em;
	font-family: "Georgia", serif;
	color: #5f666e;
	letter-spacing: .2px;
	line-height: 1.5em;
	margin-top: 0;
	text-align: center;
}

.plan-description{
	font-size: 1.5em;
	text-align: center;
	line-height: 1.5em;
}

.not-included{
	opacity: 0.3;
}

.section .ui.card > .extra, .section .ui.cards > .card > .extra{
	font-size: 1.5em;
	color: #8798a4;
}

.section .ui.card > .content > .header:not(.ui), .section .ui.cards > .card > .content > .header:not(.ui){
	text-align: center;
	font-size: 2em;
}

.ui.button{
	padding: 1.25em;
}

.chevron:hover{
	cursor: pointer;
}

.chevron{
	color: black !important;
}

.join-buttons{
	margin-top: 100px;
}

#join{
	background: black;
	margin-top: 100px;
	padding-bottom: 100px;
	h2, h4, p, a{
		color: white;
		text-align: center;
		margin: auto;
	}
	h4{
		margin-top: 30px;
	}
	p{
		margin-top: 10px;
	}
	a{
		text-decoration: underline;
	}
	button{
		width: 100%;
		margin: 50px 0;
	}
}

.newsletter-block{
	p{
		margin-top: 10px;
		text-align: center;
	}
	form{
		margin: auto;
	}
	.description{
		margin-top: 40px;
	}
}

/*
*
* bundle
*
*/

.bundle{
	text-align: center;
	.extra{
		text-align: left;
	}
	.guide-avatar{
		margin: 1em auto 1em;
	}
	.guide-subtitle{
		font-size: 0.75em;
		color: #5f666e;
	}
	a{
		color: #2185D0 !important;
	}
	.ui.button{
		margin: 0.5em 0 0 0.5em;
	}
	.adventure-image{
		margin-top: 1em;
	}
	.event-meta{
		line-height: 3em;
	}
	.event-title{
		font-weight: 800;
		line-height: 2em;
	}
}


/*
*
* event card 
*
*/

.event-card{
	margin-bottom: 5vh;
	font-size: 16px;
}

.ui.card{
	margin: auto;
	width: 380px;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
	margin-top: 0.5em;
}

.ui.card .meta :last-child, .ui.cards>.card .meta :last-child{
	margin-top: 0.75em;
}

.ui.card>.content>.header+.description, .ui.card>.content>.meta+.description, .ui.cards>.card>.content>.header+.description, .ui.cards>.card>.content>.meta+.description{
	text-align: left;
	margin-top: 1.25em;
	line-height: 1.5em;
}

.ui.card>.extra, .ui.cards>.card>.extra{
	padding: 1.25em 1em 1em 1em;
	line-height: 1.25em;
}

.ui.blue.button{
	padding: 1.25em;
}

.ui.button{
	border-radius: 0;
}

.header-image{
	width: 60px;
}

/*
*
* place card 
*
*/

.place-card{
	margin-bottom: 5vh;
	font-size: 16px;
}

/*
*
* new event form
*
*/

#new-event-form .ui.form{
	max-width: 320px;
	margin: auto;
	margin-top: 5vh;
}

.error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    line-height: 1.5em;
  }
}

.search-error{
	text-align: center;
	color: #000;
	font-size: 1.6em;
}

.ui.items > .item > .content p:last-child{
	text-align: left;
	color: #000;
}

.index-image{
	width: 100%;
}

.ui.items > .item > .content a:not(.ui){
	margin-top: 0.5em;
}

.ui.items > .item .meta :last-child{
	font-size: 1.25em;
}

#event_date_1i, #event_date_2i, #event_date_3i{
	width: 30%;
	float: left;
	margin-right: 3%;
	margin-bottom: 1em;
}

#event_start_time_4i, #event_start_time_5i, #event_end_time_4i, #event_end_time_5i{
	width: 48%;
	margin-right: 1%;
	margin-bottom: 1em;
}

#event_start_time_4i, #event_end_time_4i{
	float: left;
}

#event_start_time_5i, #event_end_time_5i{
	float: right;
}

.headline{
	text-align: center;
	margin-top: 1em;
}

.ui.label > a{
	opacity: 1.0 !important;
}

/*
*
* new place form
*
*/

#new-place-form .ui.form{
	max-width: 320px;
	margin: auto;
	margin-top: 5vh;
}

#place_monday_open_time_4i, #place_monday_open_time_5i, 
#place_tuesday_open_time_4i, #place_tuesday_open_time_5i, 
#place_wednesday_open_time_4i, #place_wednesday_open_time_5i, 
#place_thursday_open_time_4i, #place_thursday_open_time_5i, 
#place_friday_open_time_4i, #place_friday_open_time_5i, 
#place_saturday_open_time_4i, #place_saturday_open_time_5i, 
#place_sunday_open_time_4i, #place_sunday_open_time_5i,
#place_monday_close_time_4i, #place_monday_close_time_5i, 
#place_tuesday_close_time_4i, #place_tuesday_close_time_5i, 
#place_wednesday_close_time_4i, #place_wednesday_close_time_5i, 
#place_thursday_close_time_4i, #place_thursday_close_time_5i, 
#place_friday_close_time_4i, #place_friday_close_time_5i, 
#place_saturday_close_time_4i, #place_saturday_close_time_5i, 
#place_sunday_close_time_4i, #place_sunday_close_time_5i {
	width: 48%;
	margin-right: 1%;
	margin-bottom: 1em;
}

#place_monday_open_time_4i, 
#place_tuesday_open_time_4i, 
#place_wednesday_open_time_4i, 
#place_thursday_open_time_4i, 
#place_friday_open_time_4i, 
#place_saturday_open_time_4i, 
#place_sunday_open_time_4i,
#place_monday_close_time_4i, 
#place_tuesday_close_time_4i, 
#place_wednesday_close_time_4i, 
#place_thursday_close_time_4i, 
#place_friday_close_time_4i, 
#place_saturday_close_time_4i, 
#place_sunday_close_time_4i {
	float: left;
}

#place_monday_open_time_5i, 
#place_tuesday_open_time_5i, 
#place_wednesday_open_time_5i, 
#place_thursday_open_time_5i, 
#place_friday_open_time_5i, 
#place_saturday_open_time_5i, 
#place_sunday_open_time_5i 
#place_monday_close_time_5i, 
#place_tuesday_close_time_5i, 
#place_wednesday_close_time_5i, 
#place_thursday_close_time_5i, 
#place_friday_close_time_5i, 
#place_saturday_close_time_5i, 
#place_sunday_close_time_5i {
	float: right;
}


/*
*
* event index
*
*/

.gutter{
	margin: auto;
	width: 100%;
}

.preview-card{
	font-size: 16px;
}

.ui.cards > .card{
	width: 338px;
	margin: 1em auto;
}

.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui){
	margin: 0;
}

.ui.cards > .card .meta, .ui.card .meta{
	margin-top: 0.5em;
}

.ui.card > .content > .header + .description, .ui.card > .content > .meta + .description, .ui.cards > .card > .content > .header + .description, .ui.cards > .card > .content > .meta + .description{
	margin-top: 1em;
}

#search{
	margin-left: 30px;
}

.ui.cards > .card > .content a:not(.ui), .ui.card > .content a:not(.ui){
	color: black;
}

.hidden{
	display: none !important;
}

.invisible{
	visibility: hidden;
}

/*
*
* user profile
*
*/

#user-conversation .ui.form{
	margin: auto;
	margin-bottom: 2em;
}

#user-conversation .ui.input{
	width: 100%;
}

.message-block{
	display: block;
	margin-bottom: 1em;
	max-width: 80%;
	clear: both
}

.admin{
	float: right;
}

#user-conversation .ui.form textarea, #user-conversation .ui.form input[type="checkbox"] {
    resize: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.labeled.icon.buttons .button, .ui.labeled.icon.button{
	margin-top: 1em;
}