@import "semantic-ui";

/*
*
* homepage
*
*/

body{
	height: 100vh;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	line-height: 1.15em;
	color: #000;
	margin-top: 15px;
}

h1, h2{
	font-weight: 800;
}

p, h3{
	font-weight: 200;
}

h1{
	font-size: 5em;
}

h2{
	font-size: 3.6em;
}

h3{
	font-size: 2.4em;
	margin-top: 0;
}

p{
	font-size: 1.2em;
	margin-top: 5em;
}

.tagline{
	margin-top: 7em;
	color: #a8a8a8;
}

.description{
	text-align: center;
	margin-top: 25vh;
}

.example img{
	height: 80vh;
	margin-top: 5vh;
}

.ui.action.input:not([class*="left action"]) > input{
	font-size: 1.4em;
}

.share{
	margin-top: 4em;
}

/*
*
* event card 
*
*/

.event-card{
	margin-bottom: 5vh;
	font-size: 16px;
}

.ui.card{
	margin: auto;
	width: 380px;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
	margin-top: 0.5em;
}

.ui.card .meta :last-child, .ui.cards>.card .meta :last-child{
	margin-top: 0.75em;
}

.ui.card>.content>.header+.description, .ui.card>.content>.meta+.description, .ui.cards>.card>.content>.header+.description, .ui.cards>.card>.content>.meta+.description{
	text-align: left;
	margin-top: 1.25em;
	line-height: 1.5em;
}

.ui.card>.extra, .ui.cards>.card>.extra{
	padding: 1.25em 1em 1em 1em;
}

.ui.blue.button{
	padding: 1.25em;
}

.ui.button{
	border-radius: 0;
}

.header-image{
	width: 60px;
}

/*
*
* event creation form
*
*/

#new-event-form .ui.form{
	max-width: 320px;
	margin: auto;
	margin-top: 5vh;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    line-height: 1.5em;
  }
}

.search-error{
	text-align: center;
	color: #000;
	font-size: 1.6em;
}

.ui.items > .item > .content p:last-child{
	text-align: left;
	color: #000;
}

.index-image{
	width: 100%;
}

.ui.items > .item > .content a:not(.ui){
	margin-top: 0.5em;
}

.ui.items > .item .meta :last-child{
	font-size: 1.25em;
}


/*
*
* event index
*
*/

.gutter{
	margin: auto;
	width: 100%;
}

.preview-card{
	font-size: 16px;
}

.ui.cards > .card{
	width: 338px;
	margin: 1em auto;
}

.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui){
	margin: 0;
}

.ui.cards > .card .meta, .ui.card .meta{
	margin-top: 0.5em;
}

.ui.card > .content > .header + .description, .ui.card > .content > .meta + .description, .ui.cards > .card > .content > .header + .description, .ui.cards > .card > .content > .meta + .description{
	margin-top: 1em;
}

#search{
	margin-left: 30px;
}

.ui.cards > .card > .content a:not(.ui), .ui.card > .content a:not(.ui){
	color: black;
}

.hidden{
	display: none !important;
}

.invisible{
	visibility: hidden;
}

/*
*
* user profile
*
*/

#user-conversation .ui.form{
	margin: auto;
	margin-bottom: 2em;
}

#user-conversation .ui.input{
	width: 100%;
}

.message-block{
	display: block;
	margin-bottom: 1em;
	max-width: 80%;
	clear: both
}

.admin{
	float: right;
}

#user-conversation .ui.form textarea, #user-conversation .ui.form input[type="checkbox"] {
    resize: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.labeled.icon.buttons .button, .ui.labeled.icon.button{
	margin-top: 1em;
}