<div class="ui secondary fluid one item menu">
  <a class="item" href="http://www.joinferris.com/">
    <%= image_tag("logo-white-background.png", :class => "ui centered image tiny") %>
  </a>
</div>

<p class="headline">
  <a href="sms:16176827760&body=Hello">Text Ferris</a> to find something to do in Boston.
</p>